@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/static/Roboto-Regular.ttf");
}

header {
    background-color: white;
    border: white 1px solid;   
}

body {
    font-family: "Roboto Regular";
    margin: 0;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#explore {
    background-image: url("../img/banner.jpg");
    height: 450px;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.city {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 1%;
}

#explore h1, #explore h2 {
    color: white;
    text-align: center;
    margin: 2%;
}

#explore h1 {
    font-size: 75px;
}

.paris, .tokyo, .newyork {
    border: 1px solid #F5F4F4;
}

.toureiffel, .montfuji, .bridge {
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

#destination {
    padding: 8rem 0;
    background-color: #F5F4F4;
}

#destination h2 {
    border-bottom: black solid 1px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.card {
    width: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    border: 1px solid white;
    color: #F5F4F4;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}

.newyork .btn {
    background-color: #2774A6;
    position: relative;
    top: 110px;
}

.tokyo .btn {
    background-color: #CB4335;
}

.paris .btn {
    background-color: #6C3483;
    position: relative;
    top: 60px;
}

.card-content {
    margin-left: 3%;
    margin-right: 3%;
}

.card-btn {
    text-align: center;
    margin-bottom: 5%;
}






